<!DOCTYPE html>
<html>
<head>
<!-- 	<link rel="stylesheet" type="text/css" href="fb-styles.css">
 -->	<title>fotoBucket | comment</title>
 <style>
 nav{
	background-color: black;
}

#nav-logo{
	height: 50px;
	width: 150px;
}

#nav-logout{
	float: right;
	text-decoration: none;
	color: white;
	padding-top: 15px;
	padding-right: 20px;
	font-size:15px;
}

.photos{
	display: inline-block;
	margin: 5px;
}

#profpic{
	border-radius: 30%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

#foot{
	background-color: black;
	color: white;
	margin-top: 530px;
	clear: all;
	display: block;
	height: 50px;
}

.pg-end{
	text-align: center;
	padding-top: 15px;
}
.top-container{
	margin: 0 auto;
	width: 800px;
}
.bottom-container{
	width: 810px;
	margin: 0 auto;
}

button{
	background-color: black;
	color: white;
}

.profile-btn{
	display: inline;
}
 </style>
</head>
<body>
    <% include ./header.ejs %>

    <form method="POST" action="/comment-add/<%=id %>">
        <h1>Leave a Comment Below:</h1>
            Username: <input type="text" name="username">
            <br><br>
            Comment: <textarea type="text" name="comment" wrap="hard" rows="3" cols="50"></textarea>
            <br>
            <br>
            <button>Add Comment</button>
    </form>   
    <br>
    <hr> 
    	<div>
    	<% if (rows != '') { %>
        	<% for (let i in rows) { %>
           		<p><strong><%= rows[i].dataValues.username %></strong>: <%= rows[i].dataValues.comment %></p>
        	<% } %>
        <% } %>
    </div>
    <br>
</body>

</html>