<!DOCTYPE html>
<html>
<head>
	<title>FotoBucket | Home</title>
</head>
<body>

	<h1>FotoBucket</h1>

	<p>You are logged in <%= user.fname %></p>


	
<a href="/logout"><button>Logout</button></a>
	
<a href="/profile"><button>Get Profile</button></a>

</body>
</html>