<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>FotoBucket | Account</title>
</head>
<body>

	<h1>Create an Account</h1>
	<br>

	<form method="POST" action="/signup">
	<fieldset>
		<label>First Name:</label><input type="text" name="fname">
	</fieldset>
	<fieldset>
		<label>Last Name:</label><input type="text" name="lname">
	</fieldset>
	<fieldset>
		<label>Username:</label><input type="text" name="username">
	</fieldset>
	<fieldset>
		<label>Password:</label><input type="password" name="password">
	</fieldset>
	<fieldset>
		<label>Email:</label><input type="text" name="email">
	</fieldset>

	<br>
	<br>
	<button>Submit</button>
	</form>
</body>
</html>