nav{
	background-color: black;
}

#nav-logo{
	height: 50px;
	width: 150px;
}

#nav-logout{
	float: right;
	text-decoration: none;
	color: white;
	padding-top: 15px;
	padding-right: 20px;
}

.photos{
	float: left;
	margin: 2px;
}